@model ax.controlPanel.Models.UploadZipFileModel

@{
    ViewData["Title"] = "Upload";
}


<h3>Upload Schedules</h3>
<hr />
<div class="text">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" type="text" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" style="height:auto" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipFile" class="control-label"></label>
            <input asp-for="ZipFile" type="file" class="form-control" style="height:auto" />
            <span asp-validation-for="ZipFile" class="text-danger"></span>
        </div>
        <input type="submit" value="Upload" class="btn btn-info" />
    </form>
</div>